* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.screen {
    display: none;
    text-align: center;
    width: 100%;
}

.screen.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
}

/* Фон главного меню */
#menu-screen {
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Размытый фон */
#menu-screen::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("assets/image.png");
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transform: scale(1.1); /* чтобы края не обрезались после blur */
    z-index: 0;
}

/* Контент поверх фона */
#menu-screen > * {
    position: relative;
    z-index: 1;
}

/* Лёгкое затемнение для читаемости */
#menu-screen::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 0;
}

.menu-title {
    margin: 0 0 20px 0;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

.menu-left {
    flex: 1;
    overflow: auto;
}

.menu-left img {
    width: 288px;
    object-fit: cover;
}

.menu-description {
    font-size: 14px;
    line-height: 1.5;
}

.menu-right {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.menu-right input,
.menu-right select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

/* GAME */
.top-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.top-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.top-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#board {
    width: 288px;
    height: 288px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
    background: #333;
}

.tile {
    background-image: url("./assets/image.png");
    background-size: 288px 288px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s;
}

.tile:hover {
    filter: brightness(1.2);
}

.empty {
    background: #111;
    cursor: default;
}

#hint {
    padding-top: 4px;
}
